{% extends '@!EasyAdmin/layout.html.twig' %}
{% block title %}Employe index{% endblock %}

{% block body %}
    <h1>Employe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>user_id</th>
                <th>username</th>
                <th>email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.id }}</td>
                <td>{{ employe.user.id }}</td>
                <td>{{ employe.user.username }}</td>
                <td>{{ employe.user.email}}</td>


                <td>
                    <a href="{{ path('employe_show', {'id': employe.id}) }}">show</a>
                    <a href="{{ path('employe_edit', {'id': employe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employe_new') }}">Create new</a>
{% endblock %}
